@{
    ViewData["Title"] = "Add Word";
}
@model Word

<div class="text-center">
    <h1 class="display-4">@ViewData["title"]</h1>
    <form method="post">
        <label asp-for="Spelling">Word:</label>
        <input type="text" asp-for="Spelling" placeholder="Please enter a real word" id="AddWordSpellingInput">
        <span asp-validation-for="Spelling"></span>
        <br />

        <label asp-for="Category.Name">Category:</label>
        <input type="text" asp-for="Category.Name" placeholder="Please enter category">
        <span asp-validation-for="Category.Name"></span>
        <br />

        <div style="display:none;" id="DrugClassificationInput" ">
            <label asp-for="Category.Description">Drug Classification:</label>
            <input type="text" asp-for="Category.Description" placeholder="Please enter category description">
            <span asp-validation-for="Category.Description"></span>
            <br />
        </div>

        @{/*Check if category exists and remove below part if it does*/}
        <label asp-for="Category.Description">Category Description:</label>
        <input type="text" asp-for="Category.Description" placeholder="Please enter category description">
        <span asp-validation-for="Category.Description"></span>
        <br />

        <button type="submit">Add Word</button>
    </form>
</div>
<script>
    document.getElementById("Category_Name").addEventListener("change", function () {
        const showValue = "drug"; 
        const container = document.getElementById("DrugClassificationInput");

        if (this.value === showValue) {
            container.style.display = "block";
        } else {
            container.style.display = "none";
        }
    });
</script>
