<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HangMan</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HangMan.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar navbar-light bg-lightnavbar-nav px-5 bg-dark-subtle">
                <li class="nav-link"><a class="navbar navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HangMan</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="History">History</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Leaderboard">Leaderboard</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">Game</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="GameInformation" asp-action="Dictionary">Dictionary</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="GameInformation" asp-action="Index">Player Stats</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="GameInformation" asp-action="PlayerSettings">Player Settings</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - HangMan - Jacob Dykstra
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
